html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body {
  background: #f4f4f4;
  font-family: sans-serif;
  color: black;
  padding-bottom: 50px;
}
a {
  color: #5d686c;
}
input:focus,
textarea:focus {
  outline: 0;
  -moz-outline-style: none;
}
h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 100px;
  font-weight: normal;
  margin: 0 0 50px 0;
  padding: 10px;
  color: #d8d8d8;
  text-shadow: 0 3px 5px #8c8c8c;
}
.frame {
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
  border-radius: 75px;
  -webkit-box-shadow: 0 3px 5px rgba(20, 20, 20, 0.7);
  -moz-box-shadow: 0 3px 5px rgba(20, 20, 20, 0.7);
  background: #d8d8d8;
}
.enter {
  text-align: center;
  padding-top: 25px;
}
.enter .center {
  width: 576px;
  background: red;
  margin: 0 auto;
  position: relative;
}
.enter .frame {
  font-size: 138px;
  text-align: center;
  font-family: 'entypo', sans-serif;
  color: #d8d8d8;
  text-shadow: 0 3px 5px #8c8c8c;
  color: #0088bd;
  margin: 0 auto 50px auto;
  position: absolute;
  left: 0;
  top: 70px;
}
.enter form {
  width: 300px;
  background: #d8d8d8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  position: absolute;
  right: 0;
  top: 0;
}
.enter input,
.enter label {
  display: block;
}
.enter label {
  text-align: left;
  line-height: 27px;
}
.enter input {
  width: 290px;
  margin-bottom: 25px;
  border: 0px solid transparent;
  background: #f4f4f4;
  border: 1px solid #d8d8d8;
  padding: 5px;
  position: relative;
}
.enter button {
  border: 0px solid transparent;
  padding: 10px 20px;
  font-size: 30px;
  background: #f4f4f4;
  border-radius: 10px;
  color: #d8d8d8;
  margin-top: 20px;
}
.enter button.enabled {
  background: #0088bd;
  color: white;
  cursor: pointer;
}
.enter button.hover {
  box-shadow: 0 0 20px #ffffff;
}
.enter p {
  margin: -20px 0 10px 0;
  text-align: left;
  font-size: 10px;
}
.faces {
  text-align: center;
}
.faces h1 {
  margin: 0;
}
.faces h2 {
  color: black;
  margin: 0 0 30px 0;
}
.faces .divider {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  border-right: 8px solid #999999;
  height: 220px;
  width: 0px;
  z-index: -99;
}
.faces .face {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 260px;
  padding: 20px 5px 5px 5px;
  margin-right: 20px;
  overflow: hidden;
}
.faces .face .state,
.faces .face .name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.faces .face.myself .name {
  border-top: 3px solid #0088bd;
  border-bottom: 3px solid #0088bd;
}
.faces .face .name {
  margin: 0 5px;
  padding: 3px 0;
}
.faces .face .frame {
  margin: 0 auto 20px auto;
}
.faces .face .state {
  height: 45px;
  font-size: 20px;
}
.faces .face.talking {
  background: #0088bd;
  border-radius: 10px;
  color: white;
}
.faces .face.talking.myself .name {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
.faces .name {
  margin-top: 8px;
  font-size: 15px;
}
.faces button {
  border: 0px solid transparent;
  padding: 18px 75px;
  font-size: 23px;
  text-transform: uppercase;
  background: #0088bd;
  box-shadow: 0 0 3px #333333;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}
.faces button:hover {
  box-shadow: 0 0 20px #ffffff;
}
.faces button:active {
  background: #abb4b7;
}
.connecting,
.disconnected {
  background-color: #444;
  opacity: 0.8;
  position: fixed;
  border-radius: 20px;
  display: none;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 99999;
  color: white;
  /*display: none;*/

}
.connecting .text,
.disconnected .text {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  height: 170px;
  margin-top: -70px;
  font-size: 45px;
}
.contact {
  position: fixed;
  z-index: 999;
  bottom: 5px;
  right: 10px;
  font-family: 'entypo', sans-serif;
  font-size: 30px;
}
.contact a {
  display: block;
  width: 36px;
  height: 32px;
  float: left;
  text-decoration: none;
  color: #d8d8d8;
}
.contact a:hover {
  color: #0088bd;
}
